@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');

html, body { height: 100%; width: 100%; margin: 0; }

.navbar {
        background: url("/images/texture-dark.png");
}

@import 'console-tutorial'
