@use 'node_modules/highlight.js/scss/github-dark-dimmed';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


$dark: #18122B;
$gray: #393053;
$secondary: #443C68;
$primary:#635985;

html, body, .full-page { height: 100%; width: 100%; margin: 0; }


.navbar {
  background-color: rgb(0 0 0);
  box-shadow: inset 0px -15px 60px 1px $dark;
  align-items: baseline;
  z-index: 5000;
}
.main-box {
  width: fit-content;
  backdrop-filter: blur(2px);
  filter: drop-shadow(0 0 2rem black);
}

.highlight {
  background-image:
      linear-gradient(90deg, $primary 100%, $secondary 0%);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 4px;
  text-decoration: none!important;
  transition: background-size 200ms ease-in-out;
  &.link {
      background-size: 100% 0px;
      color: $primary !important;
      cursor: pointer;
  }
  &:hover {
      background-size: 100% 3px;
  }
}

#consoleShareApp {
    padding-top: 15px;

    &.full-height {
        padding-top: 0;
    }
}


.full-height {
    display:block;
    height:calc(100% - 56px);
}

#alerts-fixed {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 400px;
    z-index: 10;
}

@import 'console-tutorial';
@import 'terminal';
@import 'page';

@keyframes blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 0}
}

.console-cursor {
  display: inline-block;
  margin-left: 0.2rem;
  height: 2.8rem;
  width: 1.5rem;
  background-color: white;
  animation: blink 700ms infinite steps(3, end);
}


.btn {
  &.btn-primary {
      background-color: $primary;
      border-color: $secondary;
      outline-color: $secondary;
      &:hover {
          border-color: $primary;
          background-color: $secondary;
      }
      &:focus {
          box-shadow: 0 0 0 0.2rem $secondary;
      }
      &:active {
        background-color: $primary!important;
        border-color: $secondary!important;
        outline-color: $gray!important;
        box-shadow: 0 0 0 0.2rem $primary!important;
      }
  }

  &.btn-outline-primary {
      border-color: $primary;
      color: $primary;
      outline-color: $secondary;
      &:hover {
          border-color: $secondary;
          background-color: $primary;
          color: white;
      }
      &:focus {
          box-shadow: 0 0 0 0.2rem $secondary;
      }
  }

}


/*
 *  STYLE 1
 */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: #11171a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

